<%- include('header') -%>
<h2>Listado de Doctores</h2>
 <table>

  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Especialidad</th>
    <th>Consultorio</th>
    <th>Email</th>
    <th>Cedula</th>
  </tr>
  <% doctors.forEach(doctor => { %>
  <tr>
    <td><%=doctor.firstName %></td>
    <td><%=doctor.lastName %></td>
    <td><%=doctor.speciality %></td>
    <td><%=doctor.office %></td>
    <td><%=doctor.email %></td>
    <td><%=doctor.cedula %></td>
  </tr>
    <% }) %>
</table> 
<%- include('footer') -%>

